.navbar-container {
    display: flex;
    padding: 25px 100px;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-bar {
    display: flex;
    gap: 50px;
}

.nav-button {
    background: orangered;
    padding: 0px 15px;
}

.banner-container {
    padding: 0px 100px;
}

.main-text h1{
    font-size: 40px;
    text-transform: uppercase;
}

.text-icon-box {
    font-weight: 400;
    display: flex;
    gap: 20px;
    font-size: 24px;
}

.text-star {
    height: 25px;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-box {
    width: fit-content;
    height: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: rgb(46, 45, 45);
    padding: 10px 10px;
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
}

.in-button {
    display: flex;
    gap: 5px;
    background-color: orange;
    padding: 0px 10px;
    border-radius: 50px;
    border: white;
}

.in-button svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20px;
    width: 25px;
}

.button-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 5px;
}

.icons {
    display: flex;
    padding: 20px 0px;
    gap: 10px;
}

.icon {
    padding: 5px;
}


.tilted-line {
    background: black;
    height: 100px;
    width: 110%;
    transform: rotate(-4deg);
    justify-content: center;
    position: relative;
    right: 5%;
}

.line-text {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.text-star1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me {
    display: flex;
    justify-content: space-between;
    padding: 150px 100px;
}

.left-about {
    width: fit-content;
}


.right-about-text {
    text-align: right;
}

.stars {
    width: fit-content;
    padding: 10px 0px;
}

.right-about h1 {
    margin: 0px;
}

.right-about-text p{
    margin: 0px 0px;
}

.experience-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 150px;
    background: linear-gradient(to right, rgb(36, 24, 35), rgb(48, 48, 32));
}

.left-experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-text {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-left: 0px;
    border-right: 0px;
}

.box-text-up {
    display: flex;
    gap: 200px;
}

.award-container {
    padding: 150px 200px;
}

.award-box {
    background-color: black;
    height: fit-content;
    padding-bottom: 20px;
}

.award-box-top {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
}

.award-box-bottom {
    padding: 10px 50px;
    font-size: 15px;
}
